# Supabase project settings
VITE_SUPABASE_URL=https://aduzucaqmyktrgocxrrj.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_a5DQnpaEtOrJy9Wzl-R7uA_CbfUi3qN

# Public site info
VITE_SITE_URL=http://localhost:3001

# Telegram Lead Alerts
VITE_TELEGRAM_BOT_TOKEN=8885979032:AAFIkm2m6Xjfn-EA7YjkrssCdj27Zyi48G4
VITE_TELEGRAM_CHAT_ID=6654734966
